main {
  padding-top: 130px;
  min-height: 1000px;
  overflow: hidden;
}

@media (max-width: 575px) {
  main {
    padding-top: 120px;
  }
}

main #notice .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #notice .container .row .result_text {
  font-weight: bold;
  font-size: 24px;
  margin-top: 8px;
}

@media (max-width: 1199px) {
  main #notice .container .row .result_text {
    margin-top: 15px;
  }
}

main #notice .container .row .result_text span {
  color: #FF8948;
  margin-right: 18px;
}

main #notice .container .row .result_text span:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  main #notice .container .row .result_text span {
    margin-top: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  main #notice .container .row .result_text span {
    margin-top: 10px;
    margin-right: 25px;
    line-height: 1.5;
  }
}

main #notice .container .row .analysis_text {
  margin: 50px 0 30px 0;
}

main #notice .container .row .analysis_text .background_color {
  background-color: #75DBCC;
  border-radius: 15px;
  padding: 0 0 0 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
}

@media (max-width: 1199px) {
  main #notice .container .row .analysis_text .background_color {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 83px;
  }
}

@media (max-width: 1199px) {
  main #notice .container .row .analysis_text .background_color {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px;
  }
}

main #notice .container .row .analysis_text .background_color .photo {
  width: 280px;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #notice .container .row .analysis_text .background_color .photo img {
  width: 100%;
}

main #notice .container .row .analysis_text .background_color .text {
  padding-top: 71px;
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 97px;
  padding-right: 100px;
}

@media (max-width: 1199px) {
  main #notice .container .row .analysis_text .background_color .text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
}

main #notice .container .row .analysis_text .background_color .text h2 {
  color: #ffffff;
  font-size: 55px;
  margin-bottom: 17px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  main #notice .container .row .analysis_text .background_color .text h2 {
    text-align: center;
  }
}

main #notice .container .row .analysis_text .background_color .text p {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
}

@media (max-width: 1199px) {
  main #notice .container .row .analysis_text .background_color .text p {
    text-align: center;
  }
}

main #tab {
  padding-top: 50px;
}

@media (max-width: 767px) {
  main #tab {
    padding-top: 30px;
  }
}

@media (max-width: 1199px) {
  main #tab .nav-pills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main #tab .nav-pills .nav-item:last-child .nav-link {
  margin-right: 0;
}

main #tab .nav-pills .nav-item .nav-link {
  display: block;
  width: 250px;
  height: 60px;
  text-decoration: none;
  color: #FF8948;
  border: 3px solid #FF8948;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
}

main #tab .nav-pills .nav-item .nav-link:hover {
  border: 0;
  background-color: #FF8948;
  color: white;
}

main #tab .nav-pills .nav-item .nav-link.active {
  border: 0;
  background-color: #FF8948;
  color: white;
}

@media (max-width: 767px) {
  main #tab .nav-pills .nav-item .nav-link {
    width: 260px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

main #tab .set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #tab .set.active {
  display: none;
}

@media (max-width: 1199px) {
  main #tab .set {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  main #tab .set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main #tab .set .helper_photo {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  background-image: url("../img/02-analysis/2020-05-19-13.png");
  margin-right: 20px;
}

main #tab .set .helper_photo:hover {
  background-image: url("../img/02-analysis/2020-05-19-14.png");
}

main #tab .set .helper_photo.active {
  background-image: url("../img/02-analysis/2020-05-19-14.png");
}

@media (max-width: 767px) {
  main #tab .set .helper_photo {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

main #tab .set a {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #0D67B2;
  color: #0D67B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

main #tab .set a:hover {
  background-color: #FF8948;
  border: 1px solid transparent;
  color: white;
}

main #tab-content-area {
  padding-top: 50px;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data div {
  width: 160px;
  height: 45px;
  color: white;
  background-color: #0D67B2;
  border-radius: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data div:hover {
  background-color: #FF8948;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data div.active {
  background-color: #FF8948;
}

@media (max-width: 1199px) {
  main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data div {
    display: none;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data select {
  width: 527px;
  height: 30px;
  border: 1px solid #FF8948;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/04-health_check/arrow.png);
  background-size: 15px 8px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  padding-left: 10px;
  font-size: 18px;
  color: #1A1A1A;
  display: none;
  margin: 0 auto;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data select option {
  color: black;
}

@media (max-width: 1199px) {
  main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data select {
    display: block;
  }
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .chart_box .add_data select {
    width: 100%;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box #myChart {
  max-width: 100%;
}

@media (max-width: 1199px) {
  main #tab-content-area .container .row .tab-content .tab-pane .chart_box #myChart {
    margin: 0 auto 0 auto;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box #legend {
  margin-top: 50px;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box #legend [class$="-legend"] {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding-left: 0;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box #legend [class$="-legend"] li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 0 15px;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box #legend [class$="-legend"] li:hover {
  color: #75DBCC;
}

main #tab-content-area .container .row .tab-content .tab-pane .chart_box #legend [class$="-legend"] li span {
  border-radius: 6px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -9px;
  margin-right: 9px;
}

main #tab-content-area .container .row .tab-content .tab-pane .title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .title p {
  font-size: 36px;
  font-weight: bold;
  color: #469E95;
  line-height: 1.5;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .title p {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  main #tab-content-area .container .row .tab-content .tab-pane .title p:first-child {
    margin-bottom: 15px;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .title p span {
  margin-left: 20px;
  color: black;
  font-size: 18px;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .title p span {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table {
  width: 100%;
  border-top: 2px solid #2DA097;
  border-left: 2px solid #2DA097;
  border-right: 2px solid #2DA097;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table {
    border: 0px solid #2DA097;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr {
  width: 100%;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    border: 2px solid #2DA097;
    border-bottom: 0px;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr.orange .td .item:nth-child(2) {
  color: #FF8948;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.28%;
  padding: 0;
  border-bottom: 2px solid #2DA097;
  border-right: 2px solid #2DA097;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td {
    width: 100%;
    border-right: 0px solid #2DA097;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td:first-child .item:last-child {
    display: none;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active .item {
    width: 50%;
  }
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active .item:nth-child(2) {
    border-top: 2px solid #2DA097;
    border-right: 2px solid #2DA097;
  }
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active .item:first-child {
    width: 100%;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active .item p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td.active .item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #2DA097;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td:nth-child(2) .item p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td:last-child {
  border-right: 0;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item {
    height: 35px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item:first-child {
  display: none;
  background-color: #75DBCC;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item:last-child {
  border-bottom: 0;
  background-color: #DCFFF7;
  display: none;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item:last-child.color {
  background-color: #FFEAB6;
}

main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item p:last-child {
  display: none;
  font-size: 18px;
}

@media (max-width: 1199px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item p:last-child {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .tr .td .item p:last-child {
    margin-top: 0px;
    margin-left: 3px;
  }
}

main #tab-content-area .container .row .tab-content .tab-pane .table .table_title {
  background-color: #75DBCC;
  height: 60px;
}

@media (max-width: 767px) {
  main #tab-content-area .container .row .tab-content .tab-pane .table .table_title {
    display: none;
  }
}

main #annotation {
  padding-top: 30px;
  display: none;
}

main #annotation.active {
  display: block;
}

main #annotation .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #annotation .container .row .border_style {
  width: 750px;
  min-height: 250px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%2375DBCCFF' stroke-width='7' stroke-dasharray='10%2c25' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
  padding: 20px 159px;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  main #annotation .container .row .border_style {
    width: 100%;
    padding: 20px 0px 20px 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 992px) {
  main #annotation .container .row .border_style {
    padding: 20px 0px 20px 20px;
  }
}

@media (max-width: 767px) {
  main #annotation .container .row .border_style {
    min-height: 190px;
    font-size: 18px;
    padding: 30px 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main #annotation .container .row .border_style div {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3;
}

main #annotation .container .row .border_style div:first-child {
  color: #FF8948;
}

main #annotation .container .row .border_style div:last-child {
  margin-bottom: 0;
}

main #annotation .container .row .border_style div a {
  color: #0D67B2;
  text-decoration: underline;
}

main #my_house {
  padding-top: 80px;
}

main #my_house.active {
  display: none;
}

main #my_house .container .row .data {
  width: 100%;
  height: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #75DBCC;
  padding: 20px 25px;
  border-radius: 15px;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  main #my_house .container .row .data {
    margin: 0 auto 30px auto;
    width: 635px;
  }
}

@media (max-width: 767px) {
  main #my_house .container .row .data {
    width: 100%;
    height: auto;
    padding: 20px 15px;
  }
}

main #my_house .container .row .data .energy_used {
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  border-radius: 15px;
  position: relative;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used {
    padding: 15px 10px 15px 14px;
  }
}

main #my_house .container .row .data .energy_used .energy_used_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #FF8948;
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .energy_used_box {
    display: block;
  }
}

main #my_house .container .row .data .energy_used .energy_used_box .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

main #my_house .container .row .data .energy_used .energy_used_box .top_text {
  width: 100%;
}

main #my_house .container .row .data .energy_used .energy_used_box .top_text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  font-size: 18px;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .energy_used_box .top_text p {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main #my_house .container .row .data .energy_used .energy_used_box .top_text p:nth-child(3) {
  margin-bottom: 18px;
}

main #my_house .container .row .data .energy_used .energy_used_box .top_text p div {
  display: none;
}

main #my_house .container .row .data .energy_used .energy_used_box .top_text p span:first-child {
  color: #0D67B2;
  font-weight: bold;
  text-align: left;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .energy_used_box .top_text p span:first-child {
    display: block;
    margin-bottom: 5px;
  }
}

main #my_house .container .row .data .energy_used .energy_used_box .top_text p span:nth-child(2) {
  color: #FF8948;
  font-size: 36px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .energy_used_box .top_text p span:nth-child(2) {
    font-size: 24px;
    margin-left: auto;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .energy_used_box .top_text p span:nth-child(2) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

main #my_house .container .row .data .energy_used .button_text {
  font-size: 18px;
  text-align: center;
}

main #my_house .container .row .data .energy_used .button_text span {
  color: #FF8948;
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .button_text span {
    font-size: 24px;
  }
}

main #my_house .container .row .data .energy_used .button_text i {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 767px) {
  main #my_house .container .row .data .energy_used .button_text i {
    bottom: 5px;
    right: 5px;
  }
}

main #my_house .container .row .mp4_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  main #my_house .container .row .mp4_area {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 15px;
  }
}

main #my_house .container .row .mp4_area video {
  width: 350px;
  margin: -50px auto 0 40px;
}

@media (max-width: 1199px) {
  main #my_house .container .row .mp4_area video {
    margin: 0 auto;
    width: 300px;
  }
}

main #my_house .container .row .mp4_area .bill {
  text-align: center;
  font-size: 36px;
  color: #FF8948;
  margin-top: 50px;
}

@media (max-width: 1199px) {
  main #my_house .container .row .mp4_area .bill {
    display: none;
  }
}

main #analysis {
  padding-top: 100px;
  padding-bottom: 47px;
}

main #analysis.active {
  display: none;
}

@media (max-width: 1199px) {
  main #analysis {
    padding-top: 30px;
  }
}

@media (max-width: 1199px) {
  main #analysis {
    padding-bottom: 0px;
  }
}

main #analysis .container .row .title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #75DBCC;
  margin-bottom: 40px;
  position: relative;
}

main #analysis .container .row .title::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #75dbcc transparent transparent transparent;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  main #analysis .container .row .title {
    font-size: 24px;
    margin-bottom: 0;
  }
}

main #analysis .container .row .photo_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  main #analysis .container .row .photo_flex {
    position: relative;
  }
}

main #analysis .container .row .photo_flex .photo {
  width: 336px;
  height: 276px;
  background-image: url("../img/02-analysis/2020-05-19-10.png");
  background-size: cover;
  position: relative;
  top: -20px;
  z-index: 2;
  cursor: pointer;
}

main #analysis .container .row .photo_flex .photo:hover .text {
  background-color: #0D67B2;
}

@media (max-width: 1199px) {
  main #analysis .container .row .photo_flex .photo {
    top: -50px;
  }
}

@media (max-width: 767px) {
  main #analysis .container .row .photo_flex .photo {
    top: 20px;
    z-index: 2;
    width: 250px;
    height: 205px;
  }
}

main #analysis .container .row .photo_flex .photo .text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 220px;
  height: 40px;
  background-color: #FF8948;
  border-radius: 20px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

@media (max-width: 767px) {
  main #analysis .container .row .photo_flex .photo .text {
    bottom: 27px;
  }
}

footer {
  margin-top: 10px;
}

@media (max-width: 1199px) {
  footer {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  footer {
    margin-top: 21px;
  }
}

.footer_background {
  position: relative;
}

.footer_background .background_color {
  position: absolute;
  background-color: #CEEDED;
  width: 100%;
  height: 100px;
  top: -100px;
  z-index: -1;
}

@media (max-width: 1199px) {
  .footer_background .background_color {
    display: none;
  }
}

.footer_background .background_img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 17.8vw;
  z-index: -1;
}

@media (max-width: 1199px) {
  .footer_background .background_img {
    bottom: 18vw;
  }
}

@media (max-width: 767px) {
  .footer_background .background_img {
    bottom: 17.9vw;
  }
}

#compare_footer {
  display: none;
}

#compare_footer.active {
  display: block;
}

#electricity {
  display: block;
}

#electricity.active {
  display: none;
}

@media (min-width: 2000px) {
  footer {
    margin-top: 120px;
  }
}

@media (min-width: 3000px) {
  footer {
    margin-top: 320px;
  }
}
/*# sourceMappingURL=02-analysis_results_login_status.css.map */