@import "./variable";
@import "./functions";

main{
    padding-top: 130px;

    @media(max-width:$m_phone) {
        padding-top: 120px;
    }

    #my_house{

        margin-bottom: 150px;
        .container{
            .row{
                .title{
                    font-size: 24px;
                    font-weight: bold;
                    padding-top: 20px;
                    padding-bottom: 50px;
                }
                .data{
                    width: 500px;
                    display: flex;
                    flex-wrap: wrap;
                    background-color: #75DBCC;
                    padding: 20px 25px;
                    border-radius: 15px;
                    margin-bottom: 20px;
                    @media (max-width:$pc){
                        margin: 0 auto 30px auto;
                    }
                    @media (max-width:$phone){
                        width: 100%;
                        padding: 20px 15px;
                    }
                    .machine{
                        background-color: white;
                        border-radius: 4px;
                        margin-right: 20px;
                        padding: 10px 12px;
                        margin-bottom: 20px;
                        @media (max-width:$phone){
                            &:nth-child(2){
                                margin-right: 0;
                            }
                        }
                        span{
                            &:nth-child(1){
                                color: $hover_orange;
                                font-size: 24px;
                                font-weight: bold;
                                margin-right: 20px;
                                @media (max-width:$phone){
                                    font-size: 18px;
                                }
                            }
                            &:nth-child(2){
                                color: $hover_orange;
                                font-size: 24px;
                                font-weight: bold;
                                @media (max-width:$phone){
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .energy_used{
                        width: 100%;
                        background-color: white;
                        padding: 15px 20px;
                        border-radius: 15px;
                        @media (max-width:$phone){
                            padding: 15px 14px;
                        }
                        .energy_used_box{
                            display: flex;
                            border-bottom: 1px solid $hover_orange;
                            margin-bottom: 18px;
                            @media (max-width:$phone){
                                display: block;
                            }
                            .photo{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-right: 27px;
                            }
                            .top_text{
                                width: 100%;
                                padding-bottom: 15px;
                                P{
                                    display: flex;
                                    align-items: flex-end;
                                    margin-bottom: 5px;
                                    @media (max-width:$phone){
                                        width: 100%;
                                        padding-left: 80px;
                                    }
                                    @media (max-width:576px){
                                        padding-left: 50px;
                                    }
                                    @media (max-width:476px){
                                        padding-left: 0;
                                    }
                                    span{
                                        &:nth-child(1){
                                            width: 100px;
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: $blue;
                                            @media (max-width:$phone){
                                                width: 90px;
                                            }
                                        }
                                        &:nth-child(2){
                                            width: 100px;
                                            display: inline-block;
                                            font-size: 36px;
                                            font-weight: bold;
                                            color: $hover_orange;
                                            text-align: right;
                                            @media (max-width:$phone){
                                                width: 60px;
                                                font-size: 24px;
                                            }
                                        }
                                        &:nth-child(3){
                                            font-size: 18px;
                                            margin-left: 9px;
                                        }
                                        &:nth-child(4){
                                            font-size: 18px;
                                            color: $blue;
                                        }
                                    }
                                }
                            }
                        }   
                        .button_text{
                            text-align: center;
                            font-size: 18px;
                            span{
                                color: $hover_orange;
                                font-size: 36px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .login_or_singIn_box{
                    background-color: #FFEAB6;
                    border-radius: 12px;
                    padding: 20px 15px;
                    width: 500px;
                    @media (max-width:$pc){
                        margin: 0 auto;
                    }
                    @media (max-width:$phone){
                        width: 100%;
                    }
                    p{
                        text-align: center;
                        font-weight: bold;
                        font-size: 24px;
                        margin-bottom: 15px;
                        &:nth-child(2){
                            margin-bottom: 20px;
                        }
                    }
                    .login_or_singIn{
                        display: flex;
                        justify-content: center;

                        @media (max-width:$pc){
                            justify-content: center;
                            margin-top: 15px;
                        }
                        a{
                            width: 220px;
                            height: 40px;
                            background-color: $blue;
                            border-radius: 20px ;
                            display: block;
                            color: $white;
                            text-align: center;
                            line-height: 40px;
                            font-weight: bold;
                            font-size: 24px;
                            text-decoration: none;
                            &:hover{
                                background-color: $hover_orange;
                            }
                        }
                    }
                }
                .mp4_area{
                    
                    @media (max-width:$pc){
                        order: 2;
                        margin-top: 15px;
                        
                    }
                    video{
                        display: block;
                        margin: 0 auto;
                        @media (max-width:500px){
                            width: 100%;
                        }
                    }
                    .bill{
                        text-align: center;
                        font-size: 36px;
                        color: $hover_orange;
                        margin-top: 50px;
                        @media (max-width:$pc) {
                            display: none;
                         }
                    }
                }
            }
        }
    }
    #analysis{
        padding-top: 100px;
        padding-bottom: 47px;
        @media (max-width:$pc) {
            padding-top: 30px;
         }
         @media (max-width:$pc) {
            padding-bottom: 0px;
         }
        .container{
            .row{
                .title{
                    text-align: center;
                    font-size: 36px;
                    font-weight: bold;
                    color: #75DBCC;
                    margin-bottom: 40px;
                    position: relative;
                    &::before{
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 7.5px 0 7.5px;
                        border-color: #75dbcc transparent transparent transparent;
                        border-radius: 3px;
                        position: absolute;
                        left: 50%;
                        bottom: -15px;
                        transform: translateX(-50%);
                    }
                    @media (max-width:$phone) {
                        font-size: 24px;
                     }
                }
                .photo_flex{
                    display: flex;
                    justify-content: center;
                    @media (max-width:$phone) {
                        position: relative;
                     }
                    .photo{
                        width: 336px;
                        height: 298px;
                        background-image: url('../img/02-analysis/2020-05-19-10.png');
                        background-size: cover;
                        position: relative;
                        z-index: 2;
                        cursor: pointer;
                        &:hover .text{
                            background-color: $blue;

                        }
                        @media (max-width:$phone) {
                            width: 250px;
                            height: 221px;
                            bottom: -20px;
                            z-index: 2;
                         }
                        .text{
                            position: absolute;
                            bottom: 50px;
                            left: 50%;
                            transform: translate(-50%,0);
                            width: 220px;
                            height: 40px;
                            background-color: $hover_orange;
                            border-radius: 20px;
                            line-height: 36px;
                            text-align: center;
                            font-size: 24px;
                            font-weight: bold;
                            color: white;
                            @media (max-width:$phone) {
                                bottom: 27px;
                             }
                            
                        }
                    }
                    
                }

            }
        }
    }
}

@include marginTopForSingInPage(10px,0px,21px,null);
.footer_background{
    position: relative;
    .background_color{
        position: absolute;
        background-color: #CEEDED;
        width: 100%;
        height: 100px;
        top: -100px;
        z-index: -1;
        @media (max-width:$pc) {
            display: none;
         }
    }
    .background_img{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 17.8vw;
        z-index: 1;
        @media (max-width:1201px) {
            bottom: 26.6vw;
        }
        @media (max-width:$pc) {
            bottom: 18vw;
        }
        @media (max-width:$phone) {
            bottom: 17.9vw;
        }
    }
}
