
@import "./variable";
@import "./functions";

body{
    position: static;
}
#nav_bar_area{
    margin-top: 0;
}


#topline{
    margin-top: 37px;
    @media (max-width:$pc) {
        // margin-top: 30px;
    }
    @media (max-width: $phone) {
        margin-top: 30px;
    }

    .breadcrumb{
        background-color:transparent;
        padding: 0;
        margin-bottom: 8px;
        font-weight: bold;
        .breadcrumb-item{
            a{
                
                font-size: 14px;
            }
        }
        .breadcrumb-item+.breadcrumb-item{
            padding-left: 5px;
        }
        .fa-home{
            width: 10px;
            height: 9px;
            
        }
    }
    .breadcrumb-item+.breadcrumb-item::before {
        display: inline-block;
        padding-right: 1px;
        
        content: ">";
    }
}

.test_content{
    height: 900px;
    margin-top: 330px;
    @media (max-width:1367px) {
        margin-top: 135px;
    }

    @media (max-width:$pc) {
        margin-top: 120px;
    }
    @media (max-width:$phone) {
        margin-top: 142px;
    }

    .background_color{
        width: 100%;
        height: 102vh;
        position: absolute;
        top: 0;
        z-index: -1;
        background-color: #91DBAF;
        overflow: hidden;
        .top_photo{
            position: absolute;
            top: 215px;
            left: 128px;
            
            @media (max-width:1201px) {
                // top: 220px;
                // left: 45px;
                top: 175px;
                left: 30px;
               img{
                //    width: 80%;
                   width: 60%;
               }
            }

            @media (max-width:$phone) {
                display: none;

            }

        }
        .bottom_photo{
            position: absolute;
            right: 130px;
            bottom: 177px;
            @media (max-width:1201px) {
                right: -20px;
                bottom: -20px;
                img{
                    width: 80%;
                }
             }
             @media (max-width:$phone) {
                display: none;
                img{
                    width: 60%;
                }
            }
        }
    }
    .container{
        .row{
            flex-direction: column;
            align-items: center;

            @media (max-width: $phone) {
                padding: 0 15px 15px 15px;
            }
            .title{
                min-height: 295px;
                text-align: center;
                color:#217F47;
                @media (max-width: 1367px) {
                    min-height: 280px;
                }
                @media (max-width: 1201px) {
                    min-height: 235px;
                }
                @media (max-width:$phone) {
                    padding: 0;
                    min-height: 120px;
                }
                h2{
                    font-weight: bold;
                    font-size: 55px;
                    @media (max-width: $phone) {
                        font-size: 24px;
                    }
                }
                p{
                    font-weight: bold;
                    font-size: 36px;
                    text-align: center;
                    line-height: 1.4;
                    margin-top: 37px;
                    @media (max-width: 1201px) {
                        font-size: 24px;
                        margin-top: 41px;
                    }
                    @media (max-width: $phone) {
                        font-size: 18px;
                        margin-top: 17px;
                    }
                }
            }
            .btn_area{
                display: flex;
                justify-content: space-between;
                flex: auto;
                @media (max-width: $pc) {
                    flex-direction: column-reverse;
                }
                @media (max-width: $phone) {
                    padding: 0;
                }
                .options{
                    font-size: 24px;
                    font-weight: bold;
                    width: 120px;
                    height: 120px;
                    background-color: $white;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s;
                    cursor: pointer;
                    &:hover{
                        background-color: $hover_orange;
                        padding: 5px;
                        color: $white;
                    }
                    &.active{
                        background-color: $hover_orange;
                        padding: 5px;
                        color: $white;
                    }
                    @media (max-width: $pc) {
                        width: 100%;
                        height: 50px;
                        margin-bottom: 20px;
                    }
                    @media (max-width: $phone) {
                        height: 35px;
                        margin-bottom: 10px;
                    }
                    .border_box{
                        padding: 5px;
                        border: 1px solid $white;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 1.4;
                        @media (max-width: $pc) {
                            height: 50px;
                        }
                        @media (max-width: $phone) {
                            font-size: 18px;
                            height: 35px;
                        }
                    }
                }
            }
            .previous_question{
                -ms-margin-top: 160px;
                margin-top: 50px;
                font-size: 24px;
                font-weight: bold;
                display: inline-block;
                color:#217F47;
                cursor: pointer;
                @media (max-width: $pc) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 155px;
                    margin-top: 30px;
                }

            }
        }
    }
}
#test_bank{
    .swiper-container{
        width: 100%;
        top: -10px;
        position: fixed;
        z-index: -1;
        @media (max-width:1201px) {

        }
        .swiper-wrapper{
            
            .swiper-slide{

                &:nth-child(1){
                    .test_content{
                        .top_photo{
                            position: absolute;
                            top: 215px;
                            left: 128px;
                            @media (max-width:1367px) {
                                left: auto;
                                right: 888px;
                                top: 150px;
                            }
                            @media (max-width:1201px) {
                                top: 145px;
                                right: 777px;
                                left: auto;
                               img{
                                   min-width: 315px;
                                   height: 149px;
                                   width: 60%;
                               }
                            }
                
                            @media (max-width:$phone) {
                                display: none;
                
                            }
                
                        }
                        .bottom_photo{
                            position: absolute;
                            right: 130px;
                            bottom: 177px;
                            @media (max-width:1201px) {
                                right: -20px;
                                bottom: -20px;
                                img{
                                    width: 80%;
                                }
                             }
                             @media (max-width:$phone) {
                                display: none;
                                img{
                                    width: 60%;
                                }
                            }
                        }
                    }
                }

                &:nth-child(2){
                    .test_content{
                        .background_color{
                            background-color: #8DBDE0;
                        }
                        .container{
                            .row{
                                .title{
                                    color: #005A87;
                                }
                                .previous_question{
                                    color: #005A87;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #005A87;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){
                    .test_content{
                        .background_color{
                            background-color: #AE91CE;
                            .top_photo{
                                position: absolute;
                                right: 128px;
                                left: auto;
                                top: 215px;
                                @media (max-width:1201px) {
                                    right: 30px;
                                }
                            }
                            .bottom_photo{
                                position: absolute;
                                left: 130px;
                                right: auto;
                                bottom: 177px;
                                @media (max-width:1201px) {
                                    left: -20px;
                                    right: auto;
                                    bottom: -20px;
                                    img{
                                        width: 80%;
                                    }
                                 }
                                 @media (max-width:$phone) {
                                    display: none;
                                    img{
                                        width: 60%;
                                    }
                                }
                            }
                            
                        }
                        .container{
                            .row{
                                .title{
                                    color: #472A66;
                                }
                                .previous_question{
                                    color: #472A66;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #472A66;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                &:nth-child(4){
                    .test_content{
                        .background_color{
                            background-color: #E2A1D1;
                        }
                        .container{
                            .row{
                                .title{
                                    color: #770E5C;
                                }
                                .previous_question{
                                    color: #770E5C;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #770E5C;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(5){
                    .test_content{
                        .background_color{
                            background-color: #FFA1A1;
                        }
                        .container{
                            .row{
                                .title{
                                    color: #992626;
                                }
                                .previous_question{
                                    color: #992626;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #992626;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(6){
                    .test_content{
                        .background_color{
                            background-color: #F9DB91;
                            .top_photo{
                                position: absolute;
                                right: 128px;
                                left: auto;
                                top: 215px;
                                @media (max-width:1201px) {
                                    right: 30px;
                                }
                            }
                            .bottom_photo{
                                position: absolute;
                                left: 130px;
                                right: auto;
                                bottom: 177px;
                                @media (max-width:1201px) {
                                    left: -20px;
                                    right: auto;
                                    bottom: -20px;
                                    img{
                                        width: 80%;
                                    }
                                 }
                                 @media (max-width:$phone) {
                                    display: none;
                                    img{
                                        width: 60%;
                                    }
                                }
                            }
                            
                        }
                        .container{
                            .row{
                                .title{
                                    color: #935707;
                                }
                                .previous_question{
                                    color: #935707;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #935707;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                &:nth-child(7){
                    .test_content{
                        .top_photo{
                            position: absolute;
                            top: 215px;
                            left: 128px;
                
                            @media (max-width:1367px) {
                                left: auto;
                                right: 888px;
                            }
                            @media (max-width:1201px) {
                                top: 175px;
                                right: 777px;
                                left: auto;
                               img{
                                   min-width: 315px;
                                   height: 149px;
                                   width: 60%;
                               }
                            }
                
                            @media (max-width:$phone) {
                                display: none;
                
                            }
                
                        }
                        .bottom_photo{
                            position: absolute;
                            right: 130px;
                            bottom: 177px;
                            @media (max-width:1201px) {
                                right: -20px;
                                bottom: -20px;
                                img{
                                    width: 80%;
                                }
                             }
                             @media (max-width:$phone) {
                                display: none;
                                img{
                                    width: 60%;
                                }
                            }
                        }
                        .container{
                            .row{
                                .title{
                                    color: #217F47;
                                }
                                .previous_question{
                                    color: #217F47;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #91DBAF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(8){
                    .test_content{
                        .background_color{
                            background-color: #8DBDE0;
                        }
                        .container{
                            .row{
                                .title{
                                    color: #005A87;
                                }
                                .previous_question{
                                    color: #005A87;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #005A87;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(9){
                    .test_content{
                        .background_color{
                            background-color: #AE91CE;
                            .top_photo{
                                position: absolute;
                                left: 128px;
                                // left: auto;
                                top: 215px;
                                @media (max-width:1201px) {
                                    left: 30px;
                                }
                            }
                            .bottom_photo{
                                position: absolute;
                                right: 130px;
                                // right: auto;
                                bottom: 177px;
                                @media (max-width:1201px) {
                                    right: -20px;
                                    // right: auto;
                                    bottom: -20px;
                                    img{
                                        width: 80%;
                                    }
                                 }
                                 @media (max-width:$phone) {
                                    display: none;
                                    img{
                                        width: 60%;
                                    }
                                }
                            }
                            
                        }
                        .container{
                            .row{
                                .title{
                                    color: #472A66;
                                }
                                .previous_question{
                                    color: #472A66;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #472A66;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(10){
                    .test_content{
                        .background_color{
                            background-color: #E2A1D1;
                            .top_photo{
                                right: 1300px;
                                left: auto;
                            }
                            .bottom_photo{
                                position: absolute;
                                left: 1375px;
                                right: auto;
                                @media (max-width:1201px) {

                                    img{
                                        width: 80%;
                                    }
                                 }
                                 @media (max-width:$phone) {
                                    display: none;
                                    img{
                                        width: 60%;
                                    }
                                }
                            }
                        }
                        .container{
                            .row{
                                .title{
                                    color: #770E5C;
                                }
                                .previous_question{
                                    color: #770E5C;
                                    span{
                                        &:hover{
                                            border-bottom: 1px solid #770E5C;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(11){
                    .test_content{
                        .background_color{
                            background-color: #FFA1A1;
                            .top_photo{
                                right: 1300px;
                                left: auto;
                            }
                            .bottom_photo{
                                position: absolute;
                                left: 1375px;
                                right: auto;
                                @media (max-width:1201px) {

                                    img{
                                        width: 80%;
                                    }
                                 }
                                 @media (max-width:$phone) {
                                    display: none;
                                    img{
                                        width: 60%;
                                    }
                                }
                            }
                            
                        }
                        .container{
                            .row{
                                .title{
                                    color: #992626;
                                }
                                .col-12.col-xl-8.position-relative{
                                    padding: 0;
                                    @media (max-width:$phone){
                                        padding: 0;
                                    }
                                }
                                .previous_question{
                                    color: #992626;
                                    @media (max-width:$phone){
                                        justify-content: space-between;
                                        margin-top: 10px;
                                    }
                                    span{

                                        font-weight: bold;
                                        &:hover{
                                            border-bottom: 1px solid #992626;
                                        }
                                        
                                        @media (max-width:$phone){
                                           align-self: center;
                                           font-size: 18px;
                                        }
                                    }
                                    form{
                                        .form_btn{
                                            width: 160px;
                                            height: 40px;
                                            background-color: $blue;
                                            color: white;
                                            font-weight: bold;
                                            font-size: 24px;
                                            border: 0;
                                            border-radius: 20px;
                                            position: absolute;
                                            right: 0;
                                            bottom: -19px;
                                            &:hover{
                                                background-color: $hover_orange;
                                            }
                                            @media (max-width:$pc){
                                                right: 50%;
                                                bottom: 50%;
                                                transform: translate(50%,50%);
                                            }
                                            @media (max-width:$phone){
                                                position: relative;
                                                transform: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
