
@import "./variable";
@import "./functions";

main{
    padding-top: 130px;
    @media(max-width:$m_phone) {
        padding-top: 120px;
    }
    select::-ms-expand{
        display: none;
    }
    #paging_button{
        .container{
            .row{
                .photo{
                    padding-top: 51px;
                    @media(max-width:$pc) {
                        padding-right: 0;
                        padding-left: 13px;
                    }
                    @media(max-width:$phone) {
                        padding-top: 28px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    img{
                        width: 100%;
                        @media(max-width: $pc) {
                            width: 104%; 
                        }
                        @media(max-width: 991px) {
                            width: 87%;
                        }
                        @media(max-width: $phone) {
                            width: 100%;
                        }
                    }
                }
                .btn_area{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-top: 60px;
                    @media(max-width:$pc) {
                        padding-top: 50px;
                        padding-left: 0;
                        width: 210px;
                    }
                    @media(max-width:$phone) {
                        padding-top: 35px;
                        align-items: center;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    a{
                        text-decoration: none;
                        color: $white;
                        background-color: #FCE4D8;
                        width: 350px;
                        height: 70px;
                        font-size: 24px;
                        border-radius: 50px;
                        font-weight: bold;
                        text-align: right;
                        margin-bottom: 60px;
                        padding-right: 20px;
                        padding-top: 7px;
                        position: relative;
                        color: black;
                        display: flex;
                        justify-content: flex-end;
                        line-height: 1.2;
                        @media (max-width:$pc){
                            padding-top: 15px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:hover{
                            background-color: $hover_orange;
                            transition: .3s;
                            color: $white;
                        }
                        &:nth-child(1){
                            &:hover .png{
                                opacity: 0;
                            }
                            &:hover .animation{
                                opacity: 1;
                                z-index: 10;
                            }
                            .png{
                                width: 104px;
                                height: 90px;
                                position: absolute;
                                top: -10px;
                                left: 10px;
                                background-image: url('../img/04-health_check/2020-05-24-07.png');
                                background-size: cover;
                                background-repeat: no-repeat;
                                border-radius: 0;
                                @media(max-width:$pc) {
                                    width: 80px;
                                    height: 70px;
                                    top: 0;
                                    left: 15px;
                                }
                            }
                            .animation{
                                width: 104px;
                                height: 90px;
                                position: absolute;
                                top: -10px;
                                left: 10px;
                                background-image: url('../gif/04/GOOD.gif');
                                background-repeat: no-repeat;
                                background-size: cover;
                                border-radius: 0;
                                opacity: 0;
                                @media(max-width:$pc) {
                                    width: 80px;
                                    height: 70px;
                                    top: 0;
                                    left: 15px;
                                }
                            }
                            span{
                                font-size: 24px;
                                text-align: center;
                                @media(max-width:$pc) {
                                    font-size: 18px;
                                }
                            }
                        }
                        &:nth-child(2){
                            &:hover .png{
                                opacity: 0;
                            }
                            &:hover .animation{
                                opacity: 1;
                                z-index: 10;
                            }
                            .png{
                                width: 101px;
                                height: 90px;
                                position: absolute;
                                top: -10px;
                                left: 10px;
                                background-image: url('../img/04-health_check/2020-05-24-08.png');
                                background-size: cover;
                                background-repeat: no-repeat;
                                border-radius: 0;
                                @media(max-width:$pc) {
                                    width: 83px;
                                    height: 70px;
                                    top: 0;
                                    left: 15px;
                                }
                            }
                            .animation{
                                width: 101px;
                                height: 90px;
                                position: absolute;
                                top: -10px;
                                left: 10px;
                                background-image: url('../gif/04/VIDEO.gif');
                                background-repeat: no-repeat;
                                background-size: cover;
                                border-radius: 0;
                                opacity: 0;
                                @media(max-width:$pc) {
                                    width: 83px;
                                    height: 70px;
                                    top: 0;
                                    left: 15px;
                                }
                            }
                            span{
                                font-size: 24px;
                                text-align: center;
                                @media(max-width:$pc) {
                                    font-size: 18px;
                                }
                            }
                        }
                        @media(max-width:$pc) {
                            width: 280px;
                            height: 70px;
                            border-radius: 35px;
                            font-size: 18px;
                            margin-bottom: 30px;
                        }
                        @media(max-width:$phone) {
                            margin-bottom: 15px;
                            padding-top: 15px;
                        }
                        div{
                            display: flex;
                            // justify-content: flex-end;
                            width: 210px;
                            text-align: center;
                            @media(max-width:$pc) {
                                width: 160px;
                                height: 70px;
                                border-radius: 35px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    #knowledge{
        padding-top: 50px;
        @media(max-width:$phone) {
            padding-top: 100px;
        }
        .container{
            padding-left: 9px;
            padding-right: 9px;
            @media(max-width:$phone) {
                padding-left: 15px;
                padding-right: 15px;
            }
            .row{
                @media(max-width:$phone) {
                    padding: 0 15px;
                }
                .knowledge_btn_area{
                    background-image: url('../img/04-health_check/2020-05-24-05.png');
                    height: 402px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding-top: 75px;
                    @media(max-width:$pc) {
                        height: 250px;
                        padding-top: 160px;
                    }
                    @media(max-width:991px) {
                        height: 250px;
                        padding-top: 137px;
                    }
                    @media(max-width:$phone) {
                        width: 93.75vw;
                        height: 22.87vw;
                        padding: 50px 15px 0 15px;
                    }
                    @media(max-width:$m_phone) {
                        height: 31.8vw;


                    }
                    
                    .title{
                        height: 70px;
                        font-size: 36px;
                        font-weight: bold;
                        color: $white;
                        text-align: center;
                        @media(max-width:$pc) {
                            margin-top: -95px;
                        }
                        @media(max-width:$phone) {
                            margin-top: -95px;
                            color: black;
                        }
                    }
                    .nav-pills{
                        padding: 30px 20px;
                        @media(max-width:$pc) {
                            display: none;
                        }
                        .nav-item{
                            text-align: center;
                            &:nth-of-type(6n) .nav-link{
                                margin-right: 0;
                            }
                            .nav-link{
                                font-size: 24px;
                                width: 163px ;
                                height: 63px;
                                line-height: 54px;
                                font-weight: bold;
                                color: $hover_orange;
                                background-color: $white;
                                padding: 0;
                                border: 3px solid $hover_orange;
                                margin-right: 18px;
                                margin-bottom: 20px;
                                border-radius: 10px;
                                transition: .2s;
                                &:hover{
                                    background-color: $hover_orange;
                                    color: $white;
                                    border: 3px solid $hover_orange;
                                }
                            }
                        }
                    }
                    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
                        background-color: $hover_orange;
                        color: $white;
                        border: 3px solid $hover_orange;
                    }
                    .phone_style_option{
                        display: none;
                        width: 500px;
                        height: 55px;
                        margin: 0 auto;
                        border: 0;
                        font-size: 36px;
                        padding-left: 15px;
                        border-radius: 7.2px;
                        appearance:none;
                        background-image: url(../img/04-health_check/arrow.png);
                        background-size: 15px 8px;
                        background-repeat: no-repeat;
                        background-position: 97% 50%;


                        @media(max-width:$pc) {
                            display: block;
                            margin: 30px auto;
                            select::-ms-expand{
                                display: none;
                            }
                        }
                        @media(max-width:$phone) {
                            margin: 10vw auto 0 auto;
                            width: 260px;
                            height: 40px;
                            font-size: 24px;
                            background-position: 94% 50%;
                        }
                        @media(max-width:$m_phone) {
                            margin-top: 13vw;
                        }
                        @media(max-width:450px) {
                            margin-top: 10vw;
                        }
                        @media(max-width:350px) {
                            margin-top: 8vw;
                        }
                    }
                }
                .tab_area{
                    margin-top: 30px;
                    @media(max-width:$phone) {
                        padding: 0;
                    }
                    .tab-content{
                        font-size: 24px;
                        font-weight: bold;
                        padding: 30px 65px 30px 65px;
                        background-color: #FCE4D8;
                        border-radius: 15px;
                        @media(max-width:$phone) {
                            padding: 25px 13px 30px 13px;
                        }
                        @media(max-width:$m_phone) {
                            padding: 25px 13px 30px 13px;
                        }
                        .tab-pane{
                            line-height: 1.4;
                            font-weight: bold;
                            font-size: 24px;
                            @media(max-width:$phone) {
                                text-align: justify;
                                letter-spacing: 1px;
                            }
                            p{
                                margin-top: 30px;
                            }
                        }
                    }
                }

            }
        }
    }
}

footer{
    margin-top: 155px;
    @media(max-width:$phone) {
        margin-top: 140px;
    }
    .footer_background{
        margin-bottom: -3px;
        @media(max-width:$phone) {
            margin-bottom: -3px;
        }
    }
}
