main {
  padding-top: 130px;
}

@media (max-width: 575px) {
  main {
    padding-top: 120px;
  }
}

#sept_area {
  padding-top: 40px;
}

@media (max-width: 1199px) {
  #sept_area {
    padding-top: 55px;
  }
}

@media (max-width: 767px) {
  #sept_area {
    padding-top: 30px;
  }
}

@media (max-width: 1199px) {
  #sept_area .container .row .col-4 {
    padding-right: 3px;
    padding-left: 3px;
  }
  #sept_area .container .row .col-4:first-child {
    padding-left: 15px;
  }
  #sept_area .container .row .col-4:last-child {
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  #sept_area .container .row .col-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  #sept_area .container .row .col-4:first-child {
    padding-left: 15px;
  }
  #sept_area .container .row .col-4:last-child {
    padding-right: 15px;
  }
}

#sept_area .container .row .col-4 .sept1, #sept_area .container .row .col-4 .sept2, #sept_area .container .row .col-4 .sept3 {
  width: 100%;
  height: 125px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  #sept_area .container .row .col-4 .sept1, #sept_area .container .row .col-4 .sept2, #sept_area .container .row .col-4 .sept3 {
    width: 232px;
    height: 83px;
  }
}

@media (max-width: 767px) {
  #sept_area .container .row .col-4 .sept1, #sept_area .container .row .col-4 .sept2, #sept_area .container .row .col-4 .sept3 {
    width: 130px;
    height: 138px;
  }
}

@media (max-width: 575px) {
  #sept_area .container .row .col-4 .sept1, #sept_area .container .row .col-4 .sept2, #sept_area .container .row .col-4 .sept3 {
    width: 29.2vw;
    height: 31.4vw;
  }
}

#sept_area .container .row .col-4 .sept1 {
  background-image: url("../img/05-sign_up/sept1.png");
}

@media (max-width: 1199px) {
  #sept_area .container .row .col-4 .sept1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  #sept_area .container .row .col-4 .sept1 {
    background-image: url("../img/05-sign_up/phone_sept1.png");
  }
}

#sept_area .container .row .col-4 .sept2 {
  background-image: url("../img/05-sign_up/sept2.png");
}

@media (max-width: 1199px) {
  #sept_area .container .row .col-4 .sept2 {
    margin: auto;
  }
}

@media (max-width: 767px) {
  #sept_area .container .row .col-4 .sept2 {
    background-image: url("../img/05-sign_up/phone_sept2.png");
  }
}

#sept_area .container .row .col-4 .sept3 {
  background-image: url("../img/05-sign_up/sept3_color.png");
}

@media (max-width: 767px) {
  #sept_area .container .row .col-4 .sept3 {
    background-image: url("../img/05-sign_up/phone_sept3_color.png");
  }
}

#page_form {
  padding-top: 75px;
}

@media (max-width: 1199px) {
  #page_form {
    padding-top: 55px;
  }
}

@media (max-width: 767px) {
  #page_form {
    padding-top: 30px;
  }
}

#page_form .container .encourage {
  width: 600px;
  margin: 0 auto 20px auto;
  font-size: 24px;
  font-weight: bold;
  background-color: #0D67B2;
  padding: 50px 0;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 767px) {
  #page_form .container .encourage {
    width: auto;
    padding: 40px 15px 50px 15px;
  }
}

#page_form .container .encourage span {
  margin-right: 5px;
  color: #FF8948;
}

@media (max-width: 767px) {
  #page_form .container .encourage span {
    margin-right: 20px;
    text-align: justify;
  }
}

#page_form .container .encourage p:first-child {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #page_form .container .encourage p {
    line-height: 1.5;
    text-align: justify;
  }
}

#page_form .container .encourage a {
  margin-top: 50px;
  display: inline-block;
  width: 300px;
  height: 70px;
  font-size: 36px;
  background-color: #FF8948;
  color: #ffffff;
  text-decoration: none;
  border-radius: 35px;
  line-height: 70px;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

#page_form .container .encourage a:hover {
  color: #FF8948;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  #page_form .container .encourage a {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    margin-top: 40px;
  }
}

footer {
  margin-top: 250px;
}

@media (max-width: 1199px) {
  footer {
    margin-top: 182px;
  }
}

@media (max-width: 767px) {
  footer {
    margin-top: 139px;
  }
}

.footer_background {
  position: relative;
}

.footer_background .background_img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 17.8vw;
  z-index: -1;
}

@media (max-width: 1199px) {
  .footer_background .background_img {
    bottom: 18vw;
  }
}

@media (max-width: 767px) {
  .footer_background .background_img {
    bottom: 18vw;
  }
}
/*# sourceMappingURL=05-sign_up_sept3.css.map */