// 字級
$fs-18:18px;
$fs-36:36px;

// 字色
$white:#ffffff;
$black:#000000;
$blue:#0D67B2;
$yellow:#FFE400;
$green:#2DA097;
$hover-orange:#FF8948;

//media
$pc:1199px;
$pad:991px;
$phone:767px;
$m_phone:575px;

